$text-color: rgb(43, 167, 217);
$bg-color  : rgb(248, 251, 255);
$black-text: rgb(55, 57, 60);
$grey-text : rgb(109, 110, 112);

.titleCol {
    .titleStyle {
        color                    : $text-color;
        font-weight              : 600;
        font-size                : 20px;
        text-decoration-line     : underline;
        text-decoration-thickness: 2px;
        text-underline-offset    : 6px;
        margin-bottom            : 40px;
    }

    .cardStyle {
        background-color: $bg-color;
        padding         : 15px 30px;
        border-radius   : 10px;
    }

    div {
        margin-bottom: 3px;

        span {
            color: $text-color;
        }

        p {
            max-height   : 73px;
            color        : rgb(109, 110, 112, 0.7);
            overflow-wrap: break-word;
            overflow-y   : auto;
            scrollbar-width: thin;
            padding-right: 5px;

            @media only screen and (max-width: 800px) {
                max-height: 200px;
            }

            @media only screen and (max-width: 600px) {
                max-height: 150px;
            }
        }

    }

    color         : $black-text;
    font-weight   : 600;
    text-align    : start;
    margin-bottom : 40px;
}

.infoTitle {
    color      : $black-text;
    font-weight: 600;
}

.infoStyle {
    padding   : 10px 30px;
    text-align: left;

    div {
        color    : $grey-text;
        font-size: 12px;
    }

    p {
        font-size    : 14.5px;
        color        : $black-text;
        font-weight  : 600;
        margin-bottom: 1.2vh;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .divider {
        flex-flow: column;
    }
}

.fileDiv {
    text-align: left;

    div {
        margin: 20px 0;

        .button {
            margin-bottom   : 10px;
            margin-right    : 10px;
            font-size       : 12px;
            font-weight     : 700;
            background-color: $text-color;
            border-radius   : 5px;
            padding         : 0 10px;
            padding-top     : 2px;

            &:hover {
                background-color: rgb(43, 167, 217, 0.9);
            }
        }

        .smallButton {
            margin-right : 15px;
            border-radius: 5px;
        }

        .smallButtonLast {
            border-radius: 5px;
        }
    }

    @media only screen and (max-width: 800px) and (min-width: 601px) {
        div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;

            .button {
                margin-right: 0;
                // font-size: 0.6em;
                width: 100%;
            }

            .smallButton {
                margin-right: 0;
            }
        }
    }

    h3 {
        font-size    : 14.5px;
        color        : $black-text;
        font-weight  : 600;
        margin-bottom: 1.2vh;
    }

    p {
        color        : $grey-text;
        font-size    : 13px;
        margin-bottom: 3px;
    }
}

.editStyle {
    color      : $text-color;
    font-weight: 600;
}

.leftCol {
    padding-left: 20px;
    text-align  : center;
}

.rightCol {
    border       : 1px solid rgb(43, 167, 217, 0.1);
    border-radius: 10px;
}

.colStyle {
    text-align: center !important;
    width     : 100% !important;
    z-index: 1; // no overlapping on fixed sidebar

    .divStyle {
        padding         : 20px 15px;
        height          : 100%;
        background-color: $bg-color;
        border-radius   : 10px;
    }
}

.rowStyle {
    flex-flow: column !important;
    height   : 100%;
}

.bigRow {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .bigRow {
        flex-flow  : column !important;
        align-items: center !important;
        max-width  : 330px;
        min-width  : 330px;
        height     : fit-content;
    }

    .smallButton {
        margin-right: 5px !important;
    }

    .colStyle {
        max-width  : 100% !important;
        margin-left: 0 !important;
    }

    .leftCol {
        max-width   : 100% !important;
        padding-left: 0;
    }

    .rightCol {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 900px) {

    .infoStyle {
        padding: 10px;
    }

}