$text-color: rgb(109, 110, 112);

.titleCol {
    color      : $text-color;
    font-weight: 600;
    font-size  : 20px;
    text-align : start;
}

.colStyle {
    text-align: right;
}

.rowStyle {
    min-width: 360px;
}

@media only screen and (max-width: 600px) {
    .rowStyle {
        flex-flow: column !important;
    }

    .colStyle {
        text-align: center;
        align-self: center;
    }
}

.inputStyle {
    background   : rgb(246, 247, 249) !important;
    border-radius: 5px !important;
    height       : 45px;

    ::placeholder {
        color      : rgb(109, 110, 112, 0.7) !important;
        font-size  : 14px;
        font-weight: 600;
    }
}

.searchIcon {
    color       : $text-color !important;
    margin-right: 5px;
}